* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400&display=swap");

:root {
  --layout-primary: #191d24;
  --bright: #ffffff;
}

a,
button,
input {
  border-color: transparent;
  outline: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background-color: rgb(30, 36, 46);
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  background-color: var(--layout-primary);
  box-shadow: rgba(74, 74, 74, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
  // box-shadow: rgba(74, 74, 74, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #9da6b6;
      font-size: 15px;

      svg {
        font-size: 20px;
      }
    }
    .nav-list {
      font-size: 14px;
      a {
        margin: 0 10px;
        color: #8793a7;
      }
      a.active {
        color: rgb(202, 202, 202);
        border-bottom: 2px solid #9da6b6;
      }
    }
  }
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  .img-spinner {
    height: 100%;
    width: 100vw;
    background-color: rgba(233, 233, 233, 0.108);
    svg {
      transform: translate(0, 30vh);
      margin: auto !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }
  .users {
    width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    .user-item {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      box-shadow: rgba(66, 66, 66, 0.2) 0px 7px 29px 0px;
      .user-img {
        img {
          border-radius: 999px;
          width: 50px;
        }
      }
      .user-login {
        h4 {
          color: var(--bright);
          text-transform: capitalize;
          padding: 0 0 5px 0;
          color: rgb(255, 255, 255);
        }
        span {
          cursor: pointer;
          color: rgb(207, 207, 207);
        }
        a {
          color: rgb(223, 223, 223);
        }
      }
    }
  }
  .user {
    padding: 20px 50px 0;
    margin: 20px auto;
    line-height: 1.7em;
    button {
      transition: 0.5s;
      padding: 20px;
      border: 1px solid var(--bright);
      color: white;
      background-color: transparent;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      &:hover {
        background-color: rgb(80, 80, 80);
      }
    }
    .flex {
      display: flex;
    }
    .user-info {
      color: var(--bright);
      gap: 40px;
      margin: 10px 0;
      .img-div {
        width: 30%;

        position: relative;
        .name {
          position: absolute;
          bottom: 20px;
          left: 30px;
          color: var(--bright);
          z-index: 1;
          h4 {
            margin: 5px 0;
          }
        }
        .thumbnail {
          object-fit: contain;

          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background-color: black;
          opacity: 0.4;
        }
      }
      .text-div {
        flex-direction: column;
        gap: 9px;
        width: 60%;

        a {
          color: var(--bright);
        }
        .name {
          align-items: center;
          gap: 20px;
        }
        .profile {
          margin: 30px 0 40px;
          justify-content: space-between;
        }
        .info {
          justify-content: space-between;
          letter-spacing: 2px;
          padding: 20px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          p {
            font-weight: 700;
          }
          i {
            font-size: 300;
          }
        }
      }
    }
    .stat {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 40px 0;
      padding: 0 50px;
      color: var(--bright);
      .flex {
        padding: 40px;

        align-items: center;
        gap: 12px;
        svg {
          font-size: 50px;
          color: crimson;
        }
        .item {
          font-size: 20px;
        }
      }
    }
    .repository {
      background-color: #222732;
      padding: 40px;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      h2 {
        color: var(--bright);
      }
      .repos {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 30px 0;
        .repo {
          box-shadow: rgba(46, 46, 46, 0.2) 0px 7px 29px 0px;
          padding: 20px 30px;
          flex-direction: column;
          color: var(--bright);
          &:hover {
            box-shadow: rgba(65, 65, 65, 0.2) 0px 7px 29px 0px;
          }
          a {
            color: var(--bright);
          }
          .name {
            gap: 10px;
            align-items: center;
          }
          .repo-stat {
            > p {
              margin: 5px 0;
            }
            div {
              display: flex;
              align-items: center;
              gap: 10px;

              > p {
                display: flex;
                align-items: center;
                gap: 5px;
              }
            }
          }
        }
      }
    }
  }

  .about {
    max-width: 600px;
    line-height: 30px;
    margin: auto;
    text-align: center;
    color: var(--bright);
    h1 {
      margin: 20px 0;
    }
  }
}

.icon {
  padding: 3px 7px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 12px;
  svg {
    color: rgb(255, 255, 255);
  }
}

.red {
  background-color: rgba(220, 20, 60, 0.67);
}
.blue {
  background-color: rgba(14, 142, 197, 0.628);
}
.green {
  background-color: rgba(27, 164, 27, 0.55);
}
.yellow {
  background-color: rgba(177, 177, 33, 0.628);
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.btn {
  button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 22px 0;
    width: 100px;
    color: var(--bright);
    background-color: #22252b;
    font-size: 15px;
    cursor: pointer;
    &:hover {
      background-color: #333333;
      color: var(--bright);
    }
  }
}

.btn.absolute {
  button {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
  }
}

.not-found {
  max-width: 500px;
  margin: auto;
  width: 90%;
  text-align: center;
  color: white;
  h1 {
    font-size: 75px;
  }
  h3 {
    margin: 10px 0;
    font-size: 28px;
  }
  a {
    button {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      padding: 20px 70px;
      margin: 20px 0;
      border-radius: 14px;
      font-size: 20px;
      font-weight: 600;
      &:hover {
        background-color: #7b7b7b;
        color: var(--bright);
        svg {
          color: var(--bright);
        }
      }
      svg {
        margin: 0px 5px -2px 0;
      }
    }
  }
}

.search {
  padding: 20px 0;
  .error-msg {
    background-color: #67686a;
    color: var(--bright);
    border-radius: 15px;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    i {
      border: 1px solid var(--bright);
      padding: 3px;
      border-radius: 999px;
    }
  }

  .flex {
    display: flex;
    gap: 20px;
    align-items: center;

    form {
      margin: 10px 0 20px;
      width: 100%;
      max-width: 600px;
      > div {
        position: relative;
        width: 100%;
        // max-width: 600px;

        input {
          background-color: #d3d8e1;
          border: none;
          width: 100%;
          padding: 25px 110px 25px 30px;
          border-radius: 12px;
          color: var(--bright);
          font-size: clamp(12px, 3vw, 18px);
          color: black;
          &::placeholder {
            color: #63676c;
          }
        }
      }
    }
    .clear {
      width: 100%;
    }
  }
}

footer {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: var(--layout-primary);
  padding: 30px;
  h5 {
    text-align: center;
    color: var(--bright);
    svg {
      font-size: 26px;
    }
  }
}

@media (max-width: 600px) {
  .app {
    .users {
      width: 90%;
      margin: 20px auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 20px;

      .user-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        background-color: rgb(35, 28, 28);
        box-shadow: rgba(152, 152, 152, 0.2) 0px 7px 29px 0px;
        .user-img {
          img {
            border-radius: 999px;
            width: 50px;
          }
        }
        .user-login {
          h4 {
            color: var(--bright);
            text-transform: capitalize;
            padding: 0 0 5px 0;
            color: rgb(255, 255, 255);
          }
          span {
            cursor: pointer;
            color: rgb(207, 207, 207);
          }
        }
      }
    }
    .user {
      padding: 20px 10px 0;
      margin: 20px auto;
      button {
        font-size: 13px;
      }
      .flex {
        flex-wrap: wrap;
        gap: 5px;
      }
      .user-info {
        gap: 50px;
        .img-div {
          width: 100%;
          .name {
            bottom: 10px;
            h4 {
              margin: 2px 0;
            }
          }
        }
        .text-div {
          width: 100%;
          .profile {
            margin: 20px 0;
          }
          .info {
            gap: 20px;
          }
        }
      }
      .stat {
        margin: 40px 0;
        padding: 0 30px;
        .flex {
          padding: 20px;
        }
      }
      .repository {
        padding: 40px 20px;

        .repos {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          .repo {
            padding: 20px 10px;
          }
        }
      }
    }

    .about {
      width: 80%;
      h1 {
        margin: 20px 0;
      }
    }
  }

  .container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
  }

  nav {
    background-color: var(--layout-primary);
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--bright);
        font-size: 15px;

        svg {
          font-size: 20px;
        }
      }
      .nav-list {
        a {
          margin: 0 10px;
          color: var(--bright);
        }
        a.active {
          color: rgb(202, 202, 202);
          border-bottom: 2px solid rgb(228, 228, 228);
        }
      }
    }
  }

  .search {
    padding: 20px 0;
    .flex {
      flex-wrap: wrap;
      form {
        margin: 10px 0 20px;
        > div {
          position: relative;
          width: 100%;

          input {
            padding: 20px 20px 20px 20px;
            border-radius: 10px;
          }
        }
      }
    }
  }

  footer {
    padding: 20px;
    h5 {
      font-size: 12px;
    }
  }
}
